@import "vars";
@import "mixins";

/* General Styles */
html, body, input, textarea, button {
  font-family: RobotoRegular, sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-family: Lilita One, sans-serif;
}

h3, h4, li {
  font-family: RobotoMedium, sans-serif;
}

html, body {
  min-height: 100vh;
  width: 100%;
}


body {
  background-color: $backgroundColor;
  color: $white;
  padding: 0;
  margin: 0;
  background-image: radial-gradient($backgroundDot 0.5px, transparent 0.5px), radial-gradient($backgroundDot 0.5px, transparent 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

section {
  padding: 0 1.5*$defaultGap;
  margin-top: 1.5*$defaultGap;
  position: relative;
}

ul {
  margin: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $white;
}

header {
  font-size: 1.7rem;
  line-height: 1;
  font-family: RobotoBold, sans-serif;
  margin-top: 2*$defaultGap;
}

footer {
  border-top: $defaultBorderWidth solid $white;
  padding: $defaultGap;
  margin-top: 2*$defaultGap;
  height: 57%;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5*$defaultGap;
  margin-top: $defaultGap;
  font-family: RobotoMedium, sans-serif;
  width: 100%;

  input, textarea {
    font-size: 1rem;
    padding: 0.5*$defaultGap;
    outline: 0;
    border-radius: $defaultBorderRadius;

    &:focus {
      @include boxShadow($white);
    }
  }
}

// Common Styles

.baseButton {
  padding: $defaultGap;
  border-radius: $defaultBorderRadius;
  border: none;
  font-family: RobotoMedium, sans-serif;
  cursor: pointer;
  @include boxShadow;
}

.btn-primary {
  @extend .baseButton;
  background-color: $primary;
  color: $white;
}

.btn-secondary {
  @extend .baseButton;
  background-color: transparent;
  box-shadow: none;
  color: $primary;
}

/* Header Styles */
#nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $defaultGap 0;
  visibility: hidden;
  height: 0;
  background-color: $modalBlackBackground;
  z-index: 2;
}

.header-item {
  list-style-type: none;
  margin-left: $defaultGap;
  margin-top: 0.5*$defaultGap;
}

.menu-icon-container {
  visibility: visible;
  position: absolute;
  right: 1.5*$defaultGap;
  top: 1.5*$defaultGap;
  z-index: 2;
}

.bar1, .bar2, .bar3 {
  width: 2rem;
  height: 2px;
  background-color: $white;
  position: relative;
  margin-top: 0.5*$defaultGap;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#nav-header.change {
  visibility: visible;
  height: auto;
}

/* Footer styles */

.footer-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  address {
    margin-top: 1.5*$defaultGap;
    margin-left: 1.5*$defaultGap;
  }
}

.fa {
  padding: $defaultGap;
  text-align: center;
  text-decoration: none;
  border-radius: $defaultBorderRadius;
}

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #f00;
  color: white;
}

.google-map {
  position: relative;
  padding: $defaultGap;
  background: linear-gradient(to top left, blue 30%, green 30%, yellow 70%, red);
  width: 16px;
  height: 16px;
  border-radius: $defaultBorderRadius;

  a {
    visibility: visible;
    height: auto;
    width: auto;
  }

  i {
    visibility: visible;
    font-size: 1rem;
    color: $black;
    width: 1rem;
    object-fit: contain;
  }

  iframe {
    visibility: hidden;
    height: 0;
  }
}

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: $modalWhiteBackground;
  justify-content: center;
  align-items: center;
  z-index: -1000;

  #cross-icon {
    font-size: 2rem;
    color: $black;
    position: absolute;
    top: 2*$defaultGap;
    right: 2*$defaultGap;
  }

  &.show {
    display: flex;
    z-index: 1000;
  }
}

@media only screen and (min-width: 768px) {

  // Header Styles
  #nav-header {
    visibility: visible;
    height: auto;
    flex-direction: row;
  }

  .header-item {
    font-size: 1.2rem;
    margin-left: 2*$defaultGap;
  }

  .menu-icon-container {
    visibility: hidden;
  }

  /* Footer Styles */
  footer {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .footer-content-wrapper {
    flex-direction: column;
    justify-content: center;

    address {
      font-size: 1.1rem;
    }
  }

  .google-map {
    background: none;
    width: 150px;
    height: 150px;
    border-radius: 0;

    iframe {
      visibility: visible;
      width: 150px;
      height: 150px;
      position: absolute;
      top: 0;
      border-radius: 2.5*$defaultBorderRadius;
      margin-left: 2.5*$defaultGap;
    }

    a {
      i {
        visibility: hidden;
        height: 0;
        width: 0;
      }
    }
  }
}