@import "vars";

@mixin boxShadow($color: $shadowColor) {
  box-shadow: 0 0 10px $color;
}

@mixin greyBoxShadow {
  box-shadow: 4px 4px 5px grey;
}

@mixin main {
  padding: 0 $defaultGap;
  display: flex;
  flex-direction: column;
  align-items: center;
}