// color pallet
$backgroundColor: #010158;
$white: #fff;
$black: #000;
$primary: #00f;
$secondary: #f09433;
$modalBlackBackground: rgba(0, 0, 0, 0.3);
$modalWhiteBackground: rgba(255, 255, 255, 0.6);
$shadowColor: rgba(0, 0, 0, 0.7);
$cardBackground: #e5e5f7;
$backgroundDot: #444cf7;
$red: #f00;
$yellow: #ffd600;
$green: #0f0;

// fonts
@font-face {
  font-family: RobotoRegular;
  src: url(/task1/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(/task1/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(/task1/assets/fonts/Roboto-Bold.ttf);
}

// sizes
$defaultGap: 1em;
$defaultBorderRadius: 8px;
$defaultBorderWidth: 8px;