// color pallet
$backgroundColor: #267da1;
$white: #fff;
$black: #000;
$primary: #4e908e;
$secondary: #f9c750;
$modalBlackBackground: rgba(0, 0, 0, 0.3);
$modalWhiteBackground: rgba(255, 255, 255, 0.6);
$shadowColor: rgba(0, 0, 0, 0.7);
$cardBackground: #e5e5f7;
$backgroundDot: #56cfe1;
$red: #f00;
$yellow: #ffd600;
$green: #0f0;
$darkGrey: #202020;

// fonts
@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

// sizes
$defaultGap: 1em;
$defaultBorderRadius: 8px;
$defaultBorderWidth: 8px;